.dropdown-toggle::after {
  content: none;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.form-title:hover {
  background-color: #F4F6F6;
  cursor: text;
}

.form-col-spacing {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.clipped {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#footer {
  position: fixed;
  background-color: #FEF9E7;
  bottom: 0;
  width: 100%;
}

/* .footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
} */
